*{
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
   margin: 0;
}
.outer{
    height: 1700px;
    width: 1000px;
    
    margin:0px auto;
}
.header{
    height: 180px;
    width: 1000px;
    background: #1243AB
}
.logo{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.title{
    height: 180px;
    width: 820px;
    text-align: center;
    color: #FFFFFF;
}
.title .heading{
    padding-top: 40px;
    font-size: 42px;
    font-weight: 700;
    margin:0;
}
.title .sub_heading{
    font-weight: 700;
    margin:0;
    padding:0;
}
.navbar{
    background-color: #FECE2A;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
.welcome1{
    margin-top: 100px;
    color: red;
    font-weight: bold;
}
/** current-section **/
.current-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}
.boxc{
    height: 200px;
    width: 40%;
    margin-top: 10px;
}
.images-box img{
    height: 197px;
    width: 100%;
}
.raj-gk{
    display: flex;
    justify-content: space-evenly;
}
.welcome2{
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
.boxgk{
    height: 300px;
    width: 100px;
    border: 2px solid black;
    margin-top: 8px;
    width: 31%;
}
.box-header1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: #FECE2A;
}
.box-header2{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: #FECE2A;
}
.box-header3{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: #FECE2A;
}
.geo-body ul li{
    height: 50px;
    width: 80%;
    font-weight: bold;
}
.his-body ul li{
    height: 50px;
    width: 80%;
    font-weight: bold;
}
.cul-body ul li{
    height: 50px;
    width: 80%;
    font-weight: bold;
}
.job-title{
    margin-top: 50px;
    height: 50px;
    width: 999px;
    border: 2px solid black;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1243AB;
    color: #FFFFFF;
}
.boxjob{
    height: 300px;
    width: 100px;
    border: 2px solid black;
    margin-top: 8px;
    width: 31%;
}
.boxjob-header1{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: #1243AB;
}
.boxjob-header2{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: #1243AB;
}
.boxjob-header3{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: #1243AB;
}
.job1{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.job2{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.boxjob-header4{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: #1243AB;
}
.boxjob-header5{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: #1243AB;
}
.boxjob-header6{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: #1243AB;
}
.footer-panel1{
    display: flex;
    justify-content: center;
}
.box1-footer{
    height: 300px;
    margin-top: 8px;
    width: 333px;
    background-color: #1d488b;
    color: #ffcc18;
}
.box-footer1{
    margin-top: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
.about-body{
   margin-top: 10px;
   text-align: center;
}
.quick-body{
    margin-top: 10px;
    text-align: center;
    line-height: 14px;
}
.quick-body ul a{
    color: #ffcc18;
}
.contact-body{
    margin-top: 10px;
    text-align: center;
}
.footer-panel2{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.he0{
    height: 60px;
    width: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    color: #FFFFFF;
}
.he0 a{
    color: #FFFFFF;
}
.col-md-6{
    margin-top: 50px;
    width: 350px;
    background-color: #FECE2A;
}
